<!DOCTYPE html>
<html ng-app="YuanTennis">
<head>
  <title>Start Your Own Tennis League -- About us</title>
  <meta name="description" content="We created this website to help you manage your own tennis league">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
  <script type="text/javascript" src="javascript/google_analytics.js" async></script>

  <script src="javascript/app.js?v1"></script>
  <script src="javascript/about.js?v1"></script>
</head>

<body>

<script type="text/javascript" src="javascript/logo.js"></script>

<div class="container">

  <table width="830px" align="center">
    <tr>
      <td align="right">
        <nav>
        <ul class="nav nav-pills pull-right">
          <li><a href="manageLeague.html">Manage League</a></li>
          <li><a href="manageSeasons.html">Manage Seasons</a></li>
          <li><a href="managePlayers.html">Manage Players</a></li>
          <li><a href="matches.html">Matches</a></li>
          <li><a href="ranking.html">Ranking</a></li>
          <li><a href="message.html">Messages</a></li>
          <li><a href="logout.html">Logout</a></li>
        </ul>
        </nav>
      </td>
    </tr>
  </table>

  <p></p>

  <table width="800px" align="center">
    <tr>
      <td>
        <h3>About us</h3>
        <hr>
        <p class="ex2" align="justify">
          We are fevered tennis players and dedicated software engineers. We tried to create something useful for the
          tennis players in the leagues. <a href="http://justtennisleague.com">JustTennisLeague.com</a> is born to help league
          players to record and track the matches results, to help league organizer manage the league, seasons, players and match
          results with ease. Have fun playing tennis!
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div ng-controller="aboutController">
          <p></p>
          <h3>Leave us feedback</h3>
          <hr>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Contact Email</label>

              <div class="col-sm-9">
                <input type="text" ng-model="email" placeholder="email">
                <span class="redsmall" ng-show="error_email"> Invalid email address</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Feedback/Suggestion</label>

              <div class="col-sm-9">
                <textarea rows="4" cols="70" ng-model="content" placeholder="Feedback/Suggestion here..." maxlength="1500"></textarea>
              </div>
            </div>

            <div id="catchit-div" class="form-group">
              <label class="col-sm-3 control-label">Leave empty:</label>
              <div class="col-sm-9">
                <input type="text" ng-model="bot" placeholder="Anti-spam, leave empty">
              </div>
            </div>
            <hr>

            <button class="btn btn-success" ng-disabled="error_email || incomplete" ng-click="sendComment()">
              <span class="glyphicon glyphicon-save"></span> Send Feedback
            </button>
            <P>
            <div class="red" ng-show="sendError">{{ errorMessage }}</div>
            <div class="blue" ng-show="sendSuccess">Feedback sent!</div>
            </P>
          </form>
        </div>
      </td>
    </tr>
  </table>

</div>

<div class="footer">
  @Copyright Just Tennis League Inc 2016 &nbsp;&nbsp;&nbsp;&nbsp; <a href="about.html">About us</a>
</div>
</body>
</html>